<% include ../partials/header %>

        <header class="jumbotron">
        <div id="backDiv"></div>
        <div id="blokas">
        </div>
        <div id="pushedToRight">
            <h1>Yolk - idėjos jūsų išvykoms!</h1>
            <br>
            <br>
            <h2>Peržiūrėkite ir dalinkitės savo mėgstamiausiomis išvykos vietomis!</h2>
            <br>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Pridėti išvykos vietą</a>            
        </div>
        </header>
    </div>
    <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="paveikslelis">
                            <img src="<%=campground.image%>">
                        </div>
                        <div class="caption">
                            <h3>
                                <%=campground.name%>
                            </h3>
                            <br>
                            <div>
                                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">Daugiau informacijos</a>
                            </div>
                        </div>
                    </div>

                </div>
                <% }); %>
        </div>        
    </div>
    <% include ../partials/footer %>