<% include ../partials/header %>

    <header class="jumbotron">
        <h1>Welcome To Yolk!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <div class="paveikslelis">
                        <img src="<%=campground.image%>">
                    </div>
                    <div class="caption">
                        <h4>
                            <%=campground.name%>
                        </h4>
                        <div>
                            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">More Info</a>
                        </div>
                    </div>
                </div>

            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>